*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    width: 60%;
}

h1 {
    font-size: 4em;;
}
.name {}

.mem_section {
    border-top: 0.1em solid rgb(83, 83, 83);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mem_input {}

.mem_name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mem_text {}

.mem_img_label{
    display: flex;
    justify-content: center;
    width: 100%;
}
.mem_img {
    width: 0;
    transition: all linear 0.5s;
}

.mem_input:checked~label .mem_img,
.mem_section:hover .mem_img {
    width: 20em;
}

.mem_input:checked~label .cross,
.mem_section:hover .cross{
    transform: rotate(-45deg);
    transition: all linear 0.5s;
}