*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 2rem auto;
    width: 50vw;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

.name {
    font-size: 2em;
    padding: 1rem 0;
}

.mem_section {
    border-top: 0.1em solid rgb(175, 175, 175);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mem_input {}

.mem_name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: blue;
    font-size: 1rem;
    padding: 1rem 0;
}

.mem_text {}

.mem_img_label {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mem_img {
    width: 0;
    transition: all ease 0.5s;
}

.mem_section:active,
.mem_section:active .mem_text,
.mem_section:active .cross {
    color: blue;
    opacity: 0.8;
    transition: 0.1s ease-in;
}

.mem_section:active .cross {
    background: url('../images/svg/cross_blue.svg') center no-repeat;
}

.cross {
    background: url('../images/svg/cross.svg') center no-repeat;
    opacity: 0;
    width: 2em;
    scale: 2;
}

.mem_input:checked~label .mem_img {
    width: 20em;
    margin-bottom: 1rem;
}

.mem_section:hover .mem_img {
    width: 5em;
    margin-bottom: 1rem;
}

.mem_input:checked~label .mem_text {
    color: black;
}


.mem_input:checked~label .cross,
.mem_section:hover .cross {
    transform: rotate(-45deg);
    transition: transform linear 0.2s;
}



main:hover .mem_name {
    color: black;
}

main:hover .cross {
    opacity: 1;
}